// Colors:
$primary: #7623d4;
$light: #d3aefd;
$dark: #141414;
$white: #FDFFFC;
$link-light: findLightColor($primary);

// Sizes:
$navbar-height: 5rem;
$navbar-item-img-max-height: 3.6rem;
$dimensions: 16 24 32 48 64 96 128 256 512 1024 2048 4096 8192 16384 32768 65536;
$footer-padding: 1.2rem;

// Fonts:
$family-primary: 'Montserrat', sans-serif;
$family-secondary: 'Lato', sans-serif;
$family-code: 'Akshar', monospace;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.has-border {
  border: 1px solid $primary;
}


@import '~bulma/bulma', '~bulma/sass/grid/columns.sass', '~bulma/sass/layout/section.sass', '~bulma/sass/layout/footer.sass', '~bulma-spacing/bulma-spacing', '~bulma-checkradio/dist/css/bulma-checkradio.sass', '~bulma-steps-component/bulma-steps.sass';